.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid > div {
    background-color: #ddd;
    border: 1px solid #999;
    padding: 10px;
    text-align: center;
  }
  
h1{
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  nav a.active {
    color: #ffa500;
    font-weight: bold;
  }
  
footer{
    text-align: center;
}