@import "normalize.css";
@font-face {
  font-family: "Loew";
  src: url(../Font/Loew-BoldItalic.otf);
} /*Desktop Devices*/
 @media screen and (min-width: 800px) {
  body{
    background-color: #e6f1f1;
    
 }
 #title{
  text-align: center;
  font-size: 40px;
  color: #86b7c2;
  font-family: "Loew";

 }
 #aboutMe{
text-align: center;  
font-size: 25px;
font-family: "Loew";

 }
 .text {
  text-align: center;
  font-size: 18px;
  margin-left: 20%;
  margin-top: 10%;
}
#portfolio{
  width: 50%;
  border: 2px solid;
  border-radius: 50%;
}
.project {
  background-color: white;
  padding: 20px;
}
#projects{
  border-left: 6px solid #86b7c2;
  position:relative;
  margin-left: 5%;
  text-align:left;
  font-family: "Loew";
  color: #cc9828;
}
.heading{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 50%;
  text-align: center;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
    /* Images */
    .grid-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* change grid-template-columns */
      grid-template-rows: auto;
      justify-content: center; /* add justify-content */
      align-items: center; /* add align-items */
      text-align: center;
      padding: 10px;
      grid-gap: 10px;
    }
    
    img{
      width: 100%; /* change image width */
      max-width: 600px; /* add max-width */
      height: auto;
      border: solid black 2px;
    }
    .footer {
      bottom: 0;
      font-size: 17px;
      width: 100%;
      color: black;
      text-align: center;
    }
  
    a{
      color: #315a68;
      font-size: 20px;    }
    a:active {
      color: #315a68
    }  
    h3{
      text-align: center;
      font-size: 30px;
    }
  }
 /*Laptop Devices*/
 @media screen and (max-width: 900px) {
  body{
    background-color: #e6f1f1;
    
 }
 #title{
  text-align: center;
  font-size: 40px;
  color: #86b7c2;
  font-family: "Loew";

 }
 #aboutMe{
text-align: center;  
font-size: 25px;
font-family: "Loew";
 }
 .text {
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}
#portfolio{
  width: 50%;
  border: 2px solid;
  border-radius: 50%;
}
.project {
  background-color: white;
  padding: 20px;

}
#projects{
  border-left: 6px solid #86b7c2;
  position:relative;
  margin-left: 5%;
  text-align:left;
  font-family: "Loew";
  color: #cc9828;
}
.heading{
  text-align: center;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.menu {
  display: inline-block;
}
.menu>li {
  float: left;
  color: #e298e1;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 17px;
}
.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
  display: none;
}
.sub-menu li {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  padding: 8px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.menu>li:hover .sub-menu li {
  transform: scale(1);
}
.menu>li:hover .sub-menu {
  transform: scale(1);
}
    /* Images */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        text-align: center;
        padding: 10px;
        grid-gap: 10px;
    }
    img{
      width: 100%; /* change image width */
      max-width: 600px; /* add max-width */
      height: auto;
      border: solid black 2px;
    }
    .footer{
      font-size: 17px;
      width: 100%;
      color: black;
      text-align: center;
    }
  
    a{
      color: #315a68;
      font-size: 20px;    }
    a:active {
      color: #315a68
    }  
    h3{
      text-align: center;
      font-size: 30px;
    }
 }
  /* Mobile Devices*/
 @media screen and (max-width: 500px) {
  body{
    background-color: #e6f1f1;
    
 }
 #title{
  text-align: center;
  font-size: 40px;
  color: #86b7c2;
  font-family: "Loew";

 }
 #aboutMe{
text-align: center;  
font-size: 25px;
font-family: "Loew";
 }
 .text {
  text-align: center;
  font-size: 18px;
  margin-top: 10%;
}
#portfolio{
  width: 50%;
  border: 2px solid;
  border-radius: 50%;
}
.project {
  background-color: white;
  padding: 20px;

}
#projects{
  border-left: 6px solid #86b7c2;
  position:relative;
  margin-left: 5%;
  text-align:left;
  font-family: "Loew";
  color: #cc9828;
}
.heading{
  text-align: center;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;

}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
    /* Images */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        text-align: center;
        padding: 10px;
        grid-gap: 10px;
    }
    img{
      width: 100%; /* change image width */
      max-width: 600px; /* add max-width */
      height: auto;
      border: solid black 2px;
    }
    .footer{
      font-size: 17px;
      width: 100%;
      color: black;
      text-align: center;
    }
  
    a{
      color: #315a68;
      font-size: 20px;    }
    a:active {
      color: #315a68
    }  
    h3{
      text-align: center;
      font-size: 30px;
    }
}