@import "normalize.css";

 /*Desktop Devices*/
 @media screen and (min-width: 800px) {
  body{
    background-color: #e6f1f1;
    
 }
 #title{
  text-align: center;
  font-size: 40px;
 }
 #aboutMe{
text-align: center;  
font-size: 25px;
 }
  .text{
    text-align: center;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20%;
}
#portfolio{
  width: 50%;
}
.project{
  margin-top: -5%;
  background-color: white;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
    .heading{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto 50%;
        text-align: center;
    }
    /* Images */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        text-align: center;
        border: 3px solid;
        padding: 10px;
        grid-gap: 10px;
    }
    img{
        width: 80%;
        height: auto;
        border: solid black 2px;
    }
    .footer{
      font-size: 17px;
      width: 100%;
      color: black;
      text-align: center;
    }
  
    a{
      color: white;
      font-size: 20px;    }
    a:active {
      color: #ecfcc0
    }  
    a:hover {color: #FCFC0C}  
    h3{
      text-align: center;
      font-size: 30px;
    }
  }
 /*Laptop Devices*/
 @media screen and (max-width: 900px) {
  body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
 }
 #title{
  text-align: center;
  font-size: 40px;
 }
 #aboutMe{
text-align: center;  
font-size: 25px;
 }
#text{
  margin-top: -20px;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
h3{
  text-align: center;
  font-size: 30px;
}
  .heading{
      text-align: center;
  }

  /* Images */
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 10px;
    border: 3px solid;
    grid-gap: 10px;
}
  img{
      width: 80%;
      height: auto;
      border: solid black 2px;
  }
  .footer{
    font-size: 15px;
    width: 100%;
    color: black;
    text-align: center;
  }
 }
  /* Mobile Devices*/
 @media screen and (max-width: 500px) {
  body{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
 }
 #title{
  text-align: center;
  font-size: 40px;
 }
  #aboutMe{
    font-size: 25px;
    text-align: center;
   }
   h3{
    text-align: center;
    font-size: 30px;
  }
   nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .heading{
    text-align: center;
    padding: 10px;
   }
   .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    text-align: center;
    border: 3px solid;
    padding: 10px;
    grid-gap: 10px;
}
 img{
    width: 100%;
    height: 100%;
  }
  .footer{
    font-size: 15px;
    width: 100%;
    color: black;
    text-align: center;
  }
}