@import "normalize.css";
@font-face{
  font-family: "OceanFont";
  src: url(../Font/DeathOceanDemo-vo8M.ttf)
}
 /*nav links*/
 a:link {
    color: white;
    text-decoration: none;
  }
  a:hover {
    background-color: rgba(0, 183, 255, 0.5);
  }
  h1{
    font-family: "OceanFont";
  }
  p{
    font-size: 20px;
    margin: 25px;
  }
 /*Desktop Devices*/
 @media screen and (min-width: 800px) {
  body{
   background-image: linear-gradient(rgb(0, 140, 145, 0.5), rgb(0, 81, 255));
 }
  /*Navigation Background*/
    .nav {
      background-color: black;
        background-size: 100%;
        height: 40px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        background-origin: content;
        background-repeat: no-repeat;
        border-bottom: 5px solid;
        border: solid 10px;
        font-size: 10px;
        text-align: center;
    }
  
    .heading{
        text-align: center;
        border: 10px solid;
        border-bottom: 5px solid;
        border-top: 5px solid;
    }
    /* Images */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
        text-align: center;
        border: 10px solid;
        border-bottom: 15px solid;
        padding: 10px;
        grid-gap: 20px;
    }
    img{
        width: 96%;
        height: auto;
        border: solid black 5px;
    }
  }
 /*Laptop Devices*/
 @media screen and (max-width: 900px) {
  body{
    background-image: linear-gradient(rgba(0, 110, 236, 0.5), rgb(17, 131, 51));
  }
  /* Images */
  .grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
    text-align: center;
    border: 10px solid;
    border-top: 5px solid;
    border-bottom: 15px solid;
    padding: 10px;
    grid-gap: 20px;
  }
  img{
      width: 96%;
      height: auto;
      border: solid black 5px;
  }
 }
  /* Mobile Devices*/
 @media screen and (max-width: 500px) {
  body{
        background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 54, 153));

  }
  .grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
    text-align: center;
    border: 10px solid;
    border-top: 5px solid;
    border-bottom: 15px solid;
    padding: 10px;
    grid-gap: 20px;
  }
 img{
    width: 96%;
    height: auto;
    border: solid black 5px;
  }
}