@import "normalize.css";
@font-face{
  font-family: "OceanFont";
  src: url(../Font/DeathOceanDemo-vo8M.ttf)
}

 /*Desktop Devices*/
 @media screen and (min-width: 800px) {
  body{
   background-image: linear-gradient(rgb(0, 140, 145, 0.5), rgb(0, 81, 255));
 }
 #title{
  text-align: center;
  font-size: 40px;
 }
 #aboutMe{
  margin-right: 650px;
  font-size: 25px;
 }
  
    .heading{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: auto auto;
        text-align: center;
    }
    /* Images */
    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
        text-align: center;
        border: 3px solid;
        padding: 10px;
        grid-gap: 10px;
    }
    img{
        width: 80%;
        height: auto;
        border: solid black 5px;
    }
    .footer{
      left: 0;
      bottom: 0;
      width: 100%;
      color: black;
      text-align: center;
    }
  
    a{
      color: white;
      font-size: 20px;    }
    a:active {
      color: #ecfcc0
    }  
    a:hover {color: #FCFC0C}  
    h3{
      text-align: center;
      font-size: 30px;
    }
  }
 /*Laptop Devices*/
 @media screen and (max-width: 900px) {
  body{
    background-image: linear-gradient(rgba(0, 110, 236, 0.5), rgb(17, 131, 51));
  }
  .heading{
      text-align: center;
      border: 10px solid;
      border-bottom: 5px solid;
      border-top: 5px solid;
  }

  /* Images */
  .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
    text-align: center;
    border: 5px solid;
    padding: 10px;
    grid-gap: 10px;
}
  img{
      width: 96%;
      height: auto;
      border: solid black 5px;
  }
 }
  /* Mobile Devices*/
 @media screen and (max-width: 500px) {
  body{
        background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 54, 153));

  }

  .heading{
    text-align: center;
    border: 10px solid;
    border-top: 5px solid;
    padding: 10px;
   }
   .grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-image: linear-gradient(rgba(0, 196, 163, 0.5), rgb(0, 39, 112));
    text-align: center;
    border: 5px solid;
    padding: 10px;
    grid-gap: 10px;
}
 img{
    width: 96%;
    height: auto;
    border: solid black 5px;
  }
}