//Heading Variables
$H1BorderBackgroundFalse: #b89d4e;
$H1BorderBackgroundTrue: black;
$fontcolorfalse: gold;
$fontcolortrue: black;
//Media Queries Variables
$lgscreen: 800px;
$mdscreen: 900px;
$smscreen: 600px;
